
// Medium screen
@media screen and (max-width: 1200px) {
    .container {width: 992px;}
    .md4 {flex: 0 0 33.333333%; max-width: 33.333333%;}
    .md6 {flex: 0 0 50%; max-width: 50%;}
    .md12 {flex: 0 0 100%; max-width: 100%;}
}

// Tablet screen
@media screen and (max-width: 1020px) {
    .container {width: 720px;}
    .tb4 {flex: 0 0 33.333333%; max-width: 33.333333%;}
    .tb6 {flex: 0 0 50%; max-width: 50%;}
    .tb12 {flex: 0 0 100%; max-width: 100%;}
}

// Small screen
@media screen and (max-width: 750px) {
    .container {width: 460px;}
    .sm6 {flex: 0 0 50%; max-width: 50%;}
    .sm12 {flex: 0 0 100%; max-width: 100%;}
}

// Mobile screen
@media screen and (max-width: 490px) {
    html {-webkit-text-size-adjust: none;}
    .container {margin: 0 15px; width: auto;}
    .xs6 {flex: 0 0 50%; max-width: 50%;}
    .xs12 {flex: 0 0 100%; max-width: 100%;}
}