@import 'mixins';
@import 'helpers';


/* mainbox */
.mainbox {
  height: 100vh; overflow: hidden; display: flex; flex-direction: column;
  &_container {flex-grow: 1; overflow: auto; padding: 20px 30px;}
}



/* Header */
.header {
  background: #fff;
  height: 64px;
  padding: 8px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn-nav {margin-right: 16px;}
  .dropdown {
    margin-right: 16px;
    &:last-child {margin-right: 0;}
  }
  &-logo {
    font-weight: 600; font-size: 20px; line-height: 24px; color: var(--color-text); margin-right: 16px;
    a {color: inherit; text-decoration: none;}
  }
  &-wallet {
    position: relative; font-weight: 700; font-size: 15px; line-height: 18px; padding-right: 34px;
    &::after {@include bf; @include icon(wallet,24px,24px); right: 0; top: -4px;}
  }
}


/* userhead */
.userhead {
  &-link {
    display: flex; align-items: center; position: relative; padding-right: 20px; cursor: pointer;
    &::after {@include bf; @include icon(chevron-blue-down,8px,5px); right: 0; top: 50%; margin-top: -2px;}
    &.show::after {transform: matrix(1,0,0,-1,0,0);}
    img {
      border: 2px solid #226EE0; border-radius: 50%; height: 32px; min-width: 32px;
      max-width: 32px; display: block; margin-right: 4px;
    }
    span {font-weight: 700; font-size: 15px; line-height: 18px;}
  }
  &-dropdown {
    background: #fff; box-shadow: 0px 8px 16px rgba(18, 42, 69, 0.25); border-radius: 8px;
    width: 320px; padding: 16px; border: 0; margin-top: 5px !important;
  }
  &-tabs {
    display: flex; margin: 0 0 12px; padding: 0;
    li {
      font-size: 12px; line-height: 14px; list-style: none;
      a {
        color: var(--color-text2); display: block; padding: 10px 12px;
        text-decoration: none; border-bottom: 1px solid transparent;
        &.active {border-color: var(--color-blue);  color: var(--color-blue);}
      }
    }
  }
  &-card {
    display: flex; color: #404651; font-size: 13px; line-height: 18px; margin: 0 0 10px; padding: 8px 0;
    text-decoration: none; align-items: flex-start;
    &s {margin-bottom: 20px;}
    span {display: block;}
    &__ava {min-width: 54px; max-width: 54px; border-radius: 50%; display: block; margin-right: 12px;}
    &__bg {background: var(--color-bg); padding: 12px; border-radius: 8px;}
    &__bg &__text {
      span {margin: 0 0 2px;}
      span:last-child {margin: 0;}
    }
    &__text {
      flex: 1;
      b {font-weight: 600;}
    }
  }
  &-module {
    margin: 0 0 10px; position: relative; background: var(--color-bg); padding: 12px; border-radius: 8px;
    display: flex; align-items: center; padding-right: 24px; text-decoration: none; color: inherit;
    &::after {@include bf; @include icon(chevron-blue-right,6px,9px); right: 12px; top: 50%; margin-top: -5px;}
    span {display: block;}
    &__desc {flex: 1;}
    &__title {
      font-weight: 600; font-size: 11px; line-height: 12px; letter-spacing: 0.03em;
      text-transform: uppercase; color: #747D8A;
    }
    &__text, &__price {
      font-weight: 600; font-size: 13px; line-height: 18px; color: #404651;
      small {font-size: inherit; color: #747D8A;}
    }
    &__price {color: #747D8A;}
  }
  &-grid {margin-bottom: 10px;}
  &-grid &-module {min-height: 100%; margin: 0;}
  
  &-nav {
    margin: 0; padding: 0;
    li {
      list-style: none; font-weight: 500; font-size: 13px; line-height: 16px;
      a {
        color: var(--color-text2); display: block; position: relative;
        padding: 12px 12px 12px 20px; text-decoration: none;
      }
    }
    &__divider {border-top: 1px solid #DDE2EB;}
    &__icon::before {
      @include bf; left: 0; top: 50%; width: 16px; height: 16px; margin-top: -8px;
      background-position: center center; background-repeat: no-repeat; background-size: 16px;
    }
    &__history::before {background-image: url(../images/svg/history.svg);}
    &__partners::before {background-image: url(../images/svg/partners.svg);}
    &__legal::before {background-image: url(../images/svg/legal.svg);}
    &__notify::before {background-image: url(../images/svg/notify.svg);}
    &__settings::before {background-image: url(../images/svg/settings.svg);}
    &__exit {
      color: var(--color-red) !important;
      &::before {background-image: url(../images/svg/exit.svg);}
    }
  }

  &-page {
    display: none;
    &.show {display: block;}
    &__title {
      display: flex; align-items: center; font-weight: 700; font-size: 16px;
      line-height: 22px; color: #292E36; margin-bottom: 11px;
    }
    &__back {
      background: url(../images/svg/chevron-blue-right.svg) center center / 7px no-repeat;
      min-width: 24px; max-width: 24px; height: 24px; display: block; transform: matrix(-1,0,0,1,0,0);
    }
  }
}


/* homebanner */
.homebanner {
  background: #fff; border-radius: 16px; padding: 16px; display: flex; align-items: center;
  &-desc {padding-right: 30px; flex-grow: 1;}
  &-title {margin: 0 0 3px; font-weight: 600; font-size: 13px; line-height: 18px; color: #292E36;}
  &-text {font-weight: 500; font-size: 11px; line-height: 15px; color: #404651; margin: 0 0 13px;}
  &-image {
    background: #D9D9D9 url(../images/svg/img.svg) center center no-repeat; border-radius: 10px;
    min-width: 95px; max-width: 95px; height: 95px;
  }
}


/* created_list */
.created_list {
  counter-reset: counter; margin: 0 0 24px; padding: 0;
  &>li {
    list-style: none; counter-increment: counter; margin: 0 0 24px;
    padding-left: 48px; position: relative;
    &:last-child {margin: 0;}
    &::before {
      border: 1px solid var(--color-blue); width: 32px; height: 32px; display: block;
      border-radius: 50%; text-align: center; line-height: 30px; font-weight: 600;
      font-size: 16px; color: var(--color-blue); content: counter(counter); position: absolute;
      left: 0; top: 0;
    }
  }
  p {margin: 0 0 6px; color: #292E36;}
  ul {margin: 0 0 0 22px; padding: 0;}
  ul li {list-style: outside disc; color: #404651;}
}


/* cabitem */
.cabitem {
  display: flex; align-items: center; padding: 12px; margin: 0 0 10px;
  &:last-child {margin: 0;}
  &-row {margin: 0 0 24px;}
  &-big {
    background: #fff; box-shadow: 0px 2px 4px rgba(18, 42, 69, 0.15); border-radius: 16px;
    padding: 24px; margin: 0 0 8px;
  }
  &-img {
    min-width: 40px; max-width: 40px; margin-right: 12px;
    img {display: block;}
  }
  &-desc {flex-grow: 1;}
  &-title {font-weight: 600; color: #292E36; margin: 0 0 4px;}
  &-text {color: #48505B;}
  &-balance {
    text-align: right;
    small {
      font-weight: 600; font-size: 11px; line-height: 12px; letter-spacing: 0.03em;
      text-transform: uppercase; color: #818A99; display: block; margin: 0;
    }
    &__val {font-weight: 700; font-size: 16px; line-height: 22px;}
  }
  .btn {margin-left: 16px;}
  .btn-dots {margin-left: 8px;}
}


/* dashedbox */
.dashedbox {
  border: 1px dashed var(--color-blue); border-radius: 16px; padding: 40px 24px;
  margin: 0 0 24px; text-align: center; color: #48505B;
  a {text-decoration: none;}
  p {margin: 0 0 16px;}
  p:last-child {margin: 0;}
}


/* pageheader */
.pageheader {
  display: flex; align-items: center; padding: 24px 0 8px;
  &-title {font-weight: 600; font-size: 24px; line-height: 30px; color: #292E36; flex-grow: 1; margin: 0 20px 0 0;}
  .icon_link {margin-right: 16px;}
}


/* filterbox */
.filterbox {
  display: flex; align-items: center; padding: 16px 0;
  .icon_link {margin-left: 16px;}
}


/* bonus_banner */
.bonus_banner {
  background: radial-gradient(86.84% 249.48% at 86.84% 80.04%, #06295E 0%, #091F3F 100%);
  border-radius: 16px; margin: 0 0 24px; padding: 32px; color: #F2F4F7; position: relative;
  &__desc {max-width: 342px;}
  &__title {color: #fff; margin: 0 0 16px; font-weight: 600; font-size: 16px;}
  &__text {margin: 0 0 16px;}
  .btn-close {position: absolute; right: 32px; top: 32px;}
}


/* maintable */
.maintable {
  overflow: auto; padding-bottom: 20px;
  &-body {border-collapse: collapse; width: 2490px;}
  thead th {
    background: #F2F4F7; border-bottom: 2px solid rgba(72, 80, 91, 0.3);
    height: 59px; padding: 4px 8px; position: relative;
  }
  .btn-filter {margin-right: 6px;}
  &-locked::after {@include bf; @include icon(lock,10px,10px); top: 10px; right: 8px;}
  &-div {display: flex; align-items: center;}
  &-name {font-weight: 600; color: #48505B;}
  &-icon {
    min-width: 18px; max-width: 18px; height: 18px; margin: 0 6px 0 0;
    background-position: center center; background-repeat: no-repeat;
    &__age {background-image: url(../images/svg/userpic.svg);}
    &__members {background-image: url(../images/svg/members.svg);}
    &__user {background-image: url(../images/svg/user.svg);}
    &__cover {background-image: url(../images/svg/eye.svg);}
    &__progress {background-image: url(../images/svg/progress.svg);}
    &__posts {background-image: url(../images/svg/posts.svg);}
    &__ads {background-image: url(../images/svg/ads.svg);}
    &__return {background-image: url(../images/svg/refresh.svg);}
    &__efficient {background-image: url(../images/svg/efficient.svg);}
    &__subs {background-image: url(../images/svg/subs.svg);}
  }
}















@import 'resp.scss'